
<div id="user_panel">
    <div class="panel panel-warning">
        <div class="panel-heading"> User Profile </div>
        <div class="panel-body" style="background-color: #536091">
            <p>User: <%= name %> </p>
            <p>Status: <%= status %></p>
            <div class="btn-group-vertical">
                <button id="spin" class="btn btn-danger" onclick="">Spin</button>
                <button id="shop" class="btn btn-success" onclick="">Shop</button>
            </div>
        </div>
    </div>
</div>