<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <div id="user_panel">
        <p>User: </p>
        <p>Status: </p>
        <div class="btn-group-vertical">
            <button id="spin" class="btn btn-danger" onclick="">Spin</button>
            <button id="shop" class="btn btn-success" onclick="">Shop</button>
        </div>
    <div>
</body>

<script src="/home/admin/Sinatra/javascript/request.js"></script>



</html>